<template>
  <div class="todoadd">
    <input type="text" name="message" id="message" v-model="message" v-on:keypress.enter="todoSave">
  </div>
</template>

<script>
export default {
  name: 'TodoAdd',
  data(){
    return {
      message: ''
    }
  },
  methods: {
    todoSave: function(event) {
      this.$emit('todo-add', event.target.value)
      this.message = ''
    }
  }
}
</script>

<style scoped>
html {
  background: #ddd;
}
html {
  height: 100%;
  display: flex;
}
body {
  width: 100%;
  margin: auto;
}
.todoadd {
  background: #FFF;
  font-size: 20px;
  max-width: 15em;
  margin: auto;
  padding: 0.5em 1em;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}

.todoadd input{
  border-style: none;
  font-size: 20px;
  max-width: 15em;
  margin: auto;
}
</style>
