<template>
  <div id="app">
    <todo-add @todo-add="todo_add" />
    <todo-list />
  </div>
</template>

<script>
import TodoAdd from './components/TodoAdd.vue'
import TodoList from './components/TodoList.vue'

export default {
  name: 'app',
  components: {
    TodoAdd,
    TodoList
  },
  data() {
    return {
      todo_list: []
    }
  },
  methods: {
    todo_add: function(message) {
      this.todo_list.push(message)
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
